<main class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          {{company.name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Country: {{company.country}}</li>
          <li class="list-group-item">Address: {{company.address}}</li>
          <li class="list-group-item">Post Code: {{company.postCode}}</li>
          <li class="list-group-item">City: {{company.city}}</li>
        </ul>
      </div>
    </div>
  </div>
</main>
